body{
font-family:Arial;
background:#f0f2f5;
margin:0;
}

.navbar{
background:#1877f2;
color:white;
display:flex;
justify-content:space-between;
padding:10px 20px;
}

.layout{
display:flex;
}

.sidebar{
width:20%;
padding:20px;
}

.feed{
width:60%;
padding:20px;
}

.rightbar{
width:20%;
padding:20px;
}

.post{
background:white;
padding:15px;
margin-bottom:15px;
border-radius:8px;
}

.createPost{
background:white;
padding:10px;
margin-bottom:15px;
border-radius:8px;
}
